svg g {
  fill: #7be3f6;
  fill-opacity: 0.5;
}

svg g:hover {
  fill-opacity: 1;
}

svg g polygon {
  stroke: #7be3f6;
  stroke-width: 0.25;
  transition: fill-opacity .5s;
}

.teams {
  position: absolute;
  top: 0;
  left: 1em;
  width: 49%;
}

.tiles {
  position: absolute;
  top: 0;
  right: 1em;
  width: 49%;
}